body {
  background-color: #6b6cde;
  font-family: "Raleway", Helvetica, sans-serif;
  color: snow;
}
.center-text {
  text-align: center;
}
h1 {
  line-height: 1.1;
}
h1,
p {
  margin-top: 0;
  margin-bottom: 0.55rem;
}
#ty-message {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 200;
}

input {
  border-radius: 6px;
}
input:focus {
  border-color: rgb(66, 13, 190);
}

form {
  background-color: #4141d486;
  padding: 10px 30px;
  max-width: 550px;
}
.name-input,
.email-input,
.age-input {
  display: block;
  width: 98.5%;
  min-height: 25px;
}
.dropdown-input {
  display: block;
}
#dropdown-job,
#dropdown-feature {
  display: block;
  width: 100%;
  min-height: 30px;
  font-family: inherit;
  border-radius: 6px;
}

.form-question {
  display: block;
  margin: 20px auto;
}
#comments {
  display: block;
  width: 99%;
  min-height: 50px;
}
.input-radio,
.input-check {
  display: block;
  margin: 0.125em;
}
.form-pg {
  margin-bottom: 0.1em;
}

#submit {
  display: block;
  width: 100%;
  background-color: rgb(21, 197, 21);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 2em;
  cursor: pointer;
  font-weight: 400;
}

#survey-form {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

input,
textarea {
  font-family: inherit;
  font-weight: 400;
}
