* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li {
  list-style-type: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list li {
  margin: 15px 10px;
}

.btn {
  background-color: rgba(206, 199, 197, 0.192);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

.sign-in {
  background-color: rgb(52, 115, 252);
  color: white;
}

/* main section */

main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

#search-bar {
  display: flex;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 600px;
  justify-content: space-between;
  padding: 0 10px;
}
#hero {
  padding: 25px;
}
#g-image {
  width: 275px;
  height: auto;
}
#search-bar form {
  flex-grow: 1;
}

i {
  margin: auto 0;
}

#search-bar input {
  border: none;
  min-width: 350px;
  padding: 15px 10px;
  font-size: 16px;
  color:rgb(46, 46, 46);
}

#search-bar input:focus {
  outline: none;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  color: rgb(110, 110, 110);
  background-color: rgba(202, 202, 202, 0.219);
}

#footer-links {
  display: flex;
  justify-content: space-between;
}

#footer-links ul {
  display: flex;
}

#footer-links ul li {
  padding: 10px;
}
