:root {
}

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

a:hover {
  text-decoration: underline;
}
#navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list li {
  margin: 15px 10px;
}

.btn {
  background-color: rgba(206, 199, 197, 0.192);
  padding: 7.5px 12px;
  border: none;
  border-radius: 2px;
}

.sign-in {
  background-color: rgb(74, 131, 255);
  color: white;
  font-weight: 600;
}

/* main section */

main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

#search-bar {
  display: flex;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 600px;
  justify-content: space-between;
  padding: 0 10px;
}
#hero {
  padding: 25px;
}
#g-image {
  width: 275px;
  height: auto;
}
#search-bar form {
  flex-grow: 1;
}

i {
  margin: auto 0;
}

#search-bar input {
  border: none;
  min-width: 350px;
  padding: 15px 10px;
  font-size: 16px;
  color: rgb(46, 46, 46);
}

#search-bar input:focus {
  outline: none;
}

#search-buttons {
  margin-bottom: 30px;
}

.g-search {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 100;
  width: 150px;
  background-color: rgba(223, 223, 223, 0.253);
}

#lang-msg {
  font-size: 0.9em;
  color: rgb(36, 36, 36);
}

.g-search:hover {
  outline: 0.5px solid rgba(190, 190, 190, 0.199);
  box-shadow: 0px 0px 3px #5e5e5e60;
}

#search-bar:hover {
  box-shadow: 0px 2px 4px #5e5e5e60;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  color: rgb(110, 110, 110);
  background-color: rgba(202, 202, 202, 0.219);
}

footer div {
  border-top: 1.3px rgba(148, 148, 148, 0.226) solid;
  padding: 12px 15px;
}
#footer-links {
  display: flex;
  justify-content: space-between;
}

#country p {
  padding-left: 15px;
}
#footer-links ul {
  display: flex;
}

#footer-links ul li {
  padding: 0 15px;
}

/* media queries */

@media only screen and (max-width: 768px) {
  #footer-links {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #footer-links > :first-child {
    margin-top: 20px;
  }
}
