body {
  min-width: 300px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: 3px solid rgb(158, 158, 158);
}

header {
    font-size: 1.725em;
    color: black;
    margin: 10px;
    text-align: center;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 15px;
}

#main-doc header {
    text-align: left;
    margin: 0;
}