body {
  background-color: rgb(233, 233, 233);
  font-family: "Comfortaa", cursive, sans-serif;
  margin: 0;
}

#header-img {
  height: 85px;
}

#header {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 9999;
}

@media (max-width: 715px) {
  #header,
  .nav-bar {
    flex-direction: column;
    margin-left: 0;
  }
  #header-img {
    margin-left: 40px;
  }
  .nav-link {
    line-height: 1.5em;
    font-size: 0.95rem;
  }
  #email-input {
    padding-top: 100px;
  }
  #email-input h2 {
    width: 130%;
    font-size: 1.1em;
    text-align: center;
  }
  #features {
    text-align: center;
    padding-right: 100px;
  }

  .feature-text p {
    font-size: 0.9em;
  }
  .feature-img {
    display: none;
  }
}

#sections {
  margin: auto 100px;
  padding-top: 87px;
}

#nav-bar {
  width: 35vw;
  min-width: 300px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link > a {
  text-decoration: none;
  transition: color 0.5ms ease-in;
}
.nav-link > a:visited {
  color: inherit;
}
.nav-link > a:hover {
  color: rgb(236, 138, 27);
}

#email-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  width: 300px;
  height: 25px;
  margin-bottom: 0.8rem;
  font-size: 0.875rem;
}

#submit {
  width: 150px;
  height: 30px;
  background-color: rgb(248, 196, 24);
  border: none;
  border-radius: 2px;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  transition: background-color 0.75s;
}

#submit:hover {
  background-color: rgb(255, 145, 0);
}

#features {
  display: block;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.feature {
  display: inline-flex;
  justify-content: center;
}

.feature-img {
  min-width: 65px;
  height: 100px;
}

.feature-text {
  padding-left: 85px;
}

.feature-name {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.feature-name + p {
  padding-top: 0px;
  margin-top: 0px;
}

#video-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#video {
  width: 100%;
  max-width: 560px;
}

#pricing {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  flex-direction: row;
  max-width: 1000px
}

.model-option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
  width: calc(100% / 3);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
  padding-bottom: 15px;
}

.model-name {
  background-color: rgb(219, 218, 218);
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.model-price + ul {
  padding: 0;
  list-style-type: none;
  line-height: 1.785rem;
}

.model-option button {
  background-color: rgb(248, 196, 24);
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  width: 110px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.75s;
}

.model-option button:hover{
  background-color: rgb(255, 145, 0);
}

#footer {
  background-color: rgb(219, 218, 218);
  text-align: right;
  margin-top: 30px;
  padding: 15px;
}

#footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

#footer-text li {
  padding: 0 10px;
  font-weight: 700;
}

#copyright {
  font-size: 0.975em;
  color: black;
}